FysioSysteem/Data/autoIncrement.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
		<xs:element name="incrementIds">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="incrementId" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="currentId" type="xs:integer"/>
						</xs:sequence>
						<xs:attribute name="class" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>